<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControleCofre.DAL.Properties.Settings.CS1" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Angasil;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>